<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/CSS/style.css">
<body>
    <h1>All Comments:-</h1>
    <ul>
   <% for(let com of comments){ %>
         <li><strong><%= com.username %></strong>
                <p><%= com.text %></p>
                <hr>
                <a href="/comments/<%= com.id %>">SHOW</a>
                <hr>
                <!-- <a href="/comments/delete/<%= com.id %>">Delete</a> -->
                <form action="/comments/delete/<%= com.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                </form>
                <hr>
                <a href="/comments/edit/<%= com.id %>">Edit</a>
        </li>
    <% } %>

</ul>
<a href="/comments/new"><button>New Comment</button></a>

</body>
</html>